body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    margin-bottom: 150px;
}
section.header{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.container{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
img{width: 80%;}
h1{
    font-size: 45px;
}
.orange{
    color: orange;
}
.half-width{
    width: 50%;
}
.half-width img{
    display: flex;
    margin: 0 auto;
}
.half-width p{
    margin-bottom: 50px;
    font-size: 18px;
}
.link-button{
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, red, orange);
}

/* experience */
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.section-title{
    text-align: center;
    text-transform: uppercase;
}

.experience .half-width{
    padding: 30px;
    margin: 20px;
    box-shadow: 0 0 10px 1px red;
    border-left: 10px solid;
    border-image: linear-gradient(180deg, blue, red);
    border-image-slice: 1;
}

.experience .half-width h3{
    color: orange;
}

.experience p{
    font-weight: 300;
}

footer p{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 20px;
}